{% set itemData = config("Ceres.item.data") | split(', ') %}
{% set enabledRoutes = config("IO.routing.enabled_routes") | split(', ') %}
{% set shippingCat = config("Ceres.global.shippingCostsCategoryId") %}

<script type="x/template" id="vue-single-item">
    <div>
        <div class="single container-max page-content">
            <div class="row m-t-3">
                <div class="col-md-7 ">
                    <div class="row">
                        <div class="col-xs-12">
                            <item-image-carousel image-url-accessor="url" template="#vue-item-image-carousel"></item-image-carousel>
                        </div>
                    </div>
                </div>

                <!-- ITEM DETAIL -->
                <div class="col-md-5 m-t-1" >
                    <div class="producertag h6 producer text-muted" v-if="currentVariation.filter.hasManufacturer">
                        ${ currentVariation.item.manufacturer.externalName }
                    </div>

                    <h1 class="h2 title">
                        <span>
                            ${ currentVariation.texts.name2 }
	                </span>
                    </h1>
                        <p class="single-description" v-if="currentVariation.texts.shortDescription !== ''" v-html="currentVariation.texts.shortDescription"></p>

                        <table class="tabletopartikel" frame="void" style="padding-left: 13px; border-spacing:20px; padding-right: 16px; margin: 10px; margin-left:0px; text-align: left; line-height:16px" border="0">
                            <tbody><tr>
                                <td>Prozessor:</td>
                                <td>{{ themeItem.free1 }}</td>
                            </tr>
                            <tr>
                                <td>Taktung:</td>
                                <td>{{ themeItem.free2 }}</td>
                            </tr>
                            <tr>
                                <td>Arbeitsspeicher: &nbsp; &nbsp;</td>
                                <td>{{ themeItem.free5 }}</td>
                            </tr>
                            <tr>
                                <td>Festplatte:</td>
                                <td>{{ themeItem.free4 }}</td>
                            </tr>
                            <tr>
                                <td>Display:</td>
                                <td>{{ themeItem.free6 }} | {{ themeItem.free7 }}</td>
                            </tr>
			    <tr>
			    	<td>Eigenschaften RAM</td>
				<td> ${ currentVariation.variationProperties[0].property.names.name } </td>
			    </tr>
			    {% for properties in currentVariation.variationProperties %}
			    						<tr>
										<td>{{ properties.property.groups[0].names.name }}</td>
									</tr>
									{% if properties.property.groups[0].names.name == "Prozessor" %}
									<tr>
										<td> {{ properties.property.groups[0].names.name }}</td>
										<td> {{ properties.property.names.name }}</td>
									</tr>
									{% endif %}
								{% endfor %}
								{% for properties in item.data.variationProperties %}
									{% if properties.property.groups[0].names.name == "Arbeitsspeicher" %}
									<tr>
										<td> {{ properties.property.groups[0].names.name }}</td>
										<td> {{ properties.property.names.name }}</td>
									</tr>
									{% endif %}
								{% endfor %}
								{% for properties in item.data.variationProperties %}
									{% if properties.property.groups[0].names.name == "Festplatte" %}
									<tr>
										<td> {{ properties.property.groups[0].names.name }}</td>
										<td> {{ properties.property.names.name }}</td>
									</tr>
									{% endif %}
								{% endfor %}
								{% for properties in item.data.variationProperties %}
									{% if properties.property.groups[0].names.name == "Speichertyp" %}
									<tr>
										<td> {{ properties.property.groups[0].names.name }}</td>
										<td> {{ properties.property.names.name }}</td>
									</tr>
									{% endif %}
								{% endfor %}
								{% for properties in item.data.variationProperties %}
									{% if properties.property.groups[0].names.name == "Displaygröße" %}
									<tr>
										<td> {{ properties.property.groups[0].names.name }}</td>
										<td> {{ properties.property.names.name }}</td>
									</tr>
									{% endif %}
								{% endfor %}
								{% for properties in item.data.variationProperties %}
									{% if properties.property.groups[0].names.name == "Betriebssystem" %}
									<tr>
										<td> {{ properties.property.groups[0].names.name }}</td>
										<td> {{ properties.property.names.name }}</td>
									</tr>
									{% endif %}
								{% endfor %}
								{% for properties in item.data.variationProperties %}
									{% if properties.property.groups[0].names.name == "Garantie" %}
									<tr>
										<td> {{ properties.property.groups[0].names.name }}</td>
										<td> {{ properties.property.names.name }}</td>
									</tr>
									{% endif %}
{% endfor %}
                            </tbody>
                        </table>
                    <hr>

                    <div class="m-b-3">
                        <span class="articlenumber small text-muted">
                            <b>{{ trans("Ceres::Template.singleItemNumber") }}</b>
                            <span>${ currentVariation.variation.number }</span>
                        </span>
                    </div>

                    <!-- Variation -->
                    <div class="row m-b-1" v-if="variations.length > 0">
                        <variation-select template="#vue-variation-select" :attributes="attributeNameMap" :variations="variations" :preselect="currentVariation.variation.id" @is-valid-change="isVariationSelected = $event"></variation-select>
                    </div>
                    <!-- /Variation -->

                    <slot name="BeforePrice"></slot>

                    <!-- <div class="row">
                        <order-properties template="#vue-order-properties" v-if="currentVariation.filter.isSalable"></order-properties>
                    </div> -->

                    <div class="row" v-if="currentVariation.filter.isSalable && variationGroupedProperties.length">
                        <order-property-list></order-property-list>
                    </div>

                    <graduated-prices template="#vue-graduated-prices"></graduated-prices>

                    {% if ('item.recommendedPrice' in itemData or 'all' in itemData) %}
                        <div class="crossprice" v-if="currentVariation.prices.rrp && currentVariation.prices.rrp.price.value > 0">
                            <del class="text-muted small">
                                ${ currentVariation.prices.rrp.price.formatted }
                            </del>
                        </div>
                    {% endif %}

                    <span class="price h1">
                        <span ref="variationTotalPrice" :content="currentVariation.prices.default.price.value">
                            ${ variationTotalPrice | currency(currentVariation.prices.default.currency) }
                        </span>
                        <sup>*</sup>
                        <span :content="currentVariation.prices.default.currency"></span>
                    </span>

                    <div class="base-price text-muted m-y-1" v-if="currentVariation.unit && !(currentVariation.unit.unitOfMeasurement === 'C62' && currentVariation.unit.content === 1)">
                        <div>
                            {{ trans("Ceres::Template.singleItemContent") }}
                            <span>${ currentVariation.unit.content | numberFormat }</span>
                            <span>${ currentVariation.unit.names.name }</span>
                        </div>
                        <div v-if="currentVariation.variation.mayShowUnitPrice">
                            {{ trans("Ceres::Template.singleItemUnitPrice") }}
                            <span class="base-price-value">
                                ${ variationGraduatedPrice.basePrice }
                            </span>
                        </div>
                    </div>

                    <slot name="AfterPrice"></slot>
				<!--
                    <span v-if="currentVariation.variation.availability" :class="'availability tag availability_' + currentVariation.variation.availability.id">
                        <span>
                             ${ currentVariation.variation.availability.names.name } 
                        </span>
                    </span>
				-->
                    <div class="row m-y-1">
                        <slot name="BeforeAddToBasket"></slot>
                        <add-to-basket
                                template="#vue-add-to-basket"
                                v-if="currentVariation.filter.isSalable"
                                :item="$store.state.item.variation.documents[0].data"
                                :show-quantity="true"
                                :missing-order-properties="variationMissingProperties"
                                :is-variation-selected="isVariationSelected"></add-to-basket>
                        <slot name="AfterAddToBasket"></slot>
                    </div>

                    {% if "wish-list" in enabledRoutes or "all" in enabledRoutes %}
                        <div class="row">
                            <add-to-wish-list template="#vue-add-to-wish-list" :variation-id="currentVariation.variation.id" :is-active="isInWishList"></add-to-wish-list>
                        </div>
                    {% endif %}
                <!-- ./ITEM DETAIL -->

                    <slot name="AdditionalContentAfterAddToBasket"></slot>

                    <hr>

                    <span class="vat small text-muted">
                        * {% if services.customer.showNetPrices() %}{{ trans("Ceres::Template.singleItemExclVAT") }}{% else %}{{ trans("Ceres::Template.singleItemInclVAT") }}{% endif %} {{ trans("Ceres::Template.singleItemExclusive") }}
                        <a {% if shippingCat is not empty %} data-toggle="modal" href="#shippingscosts"{% endif %} title="{{ trans("Ceres::Template.singleItemShippingCosts") }}">{{ trans("Ceres::Template.singleItemShippingCosts") }}</a>
                    </span>

                    <slot name="AdditionalContentAfterVAT"></slot>

                </div>

                <!-- ITEM DESCRIPTION -->
                <div class="col-md-7 m-y-3">
                    <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item" v-if="isDescriptionTabActive">
                                <a class="nav-link active" data-toggle="tab" :href="'#details-' +  currentVariation.variation.id" role="tab">{{ trans("Ceres::Template.singleItemDescription") }}</a>
                            </li>
                    </ul>

                    <div class="tab-content">
                            <div class="tab-pane active" :id="'details-' + currentVariation.variation.id" role="tabpanel" v-if="isDescriptionTabActive">
                                <div class="m-y-2" v-html="currentVariation.texts.description">
                                </div>
                            </div>
                        <slot name="AddDetailTabsContent"></slot>
                    </div>
                </div>
            </div>
            <!-- ./ITEM DESCRIPTION -->

            <slot name="ItemListContainer"></slot>
            <slot name="FeedbackContainer"></slot>
        </div>
    </div>
</script>
