{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{% set numberOfCols = config('Ceres.footer.number_of_cols') %}
{% set colSize = (12 / (numberOfCols + 1)) %}
{% set displayedCategories = [] %}
{% set numberOfFeatures = config('Ceres.footer.number_of_features') %}
{% set topButtonPosition = config('Ceres.footer.to_top_button') %}

<div class="footer">

    <div class="{% if topButtonPosition == "right" %}back-to-top{% else %}back-to-top-center{% endif %} hidden-sm-down">
        <i class="fa fa-chevron-up"></i>
    </div>

    <div class="to-top hidden-md-up" v-scroll-to-top>
        <i class="fa fa-arrow-up" aria-hidden="true"></i>
    </div>
    <hr />
    <div class="container footer-info">
        <div class="col-lg-12 col-lg-offset-2 col-md-12 col-md-offset-1 col-sm-12 col-xs-12">
            <p class="h4 margin-top-05 center">Zahlen Sie bequem per</p>
            <ul class="image-list">
                <li>
                    <img src="https://www.paypalobjects.com/webstatic/de_DE/i/de-pp-logo-100px.png" alt="PayPal" title="PayPal" data-toggle="tooltip" data-placement="top" height="32px" hspace="10px" vspace="8px">
                    <img src="/images/gallery/banner/payment_small.png" alt="Sofortueberweisung" title="Sofortueberweisung" data-toggle="tooltip" data-placement="top" height="32px" vspace="8px" hspace="10px">
                    <img alt="Bar" hspace="10px" src="/images/gallery/banner/bar.jpg" style="height: 32px;" vspace="12px" />
                    <img alt="EC" hspace="10px" src="/images/gallery/banner/ec.jpg" style="height: 32px;" vspace="12px" />
                    <img alt="Vorkasse" hspace="10px" src="/images/gallery/banner/vorkasse.jpg" style="height: 32px;" vspace="12px" />

                </li>
            </ul>
        </div>
    </div>    
    <hr />
    <div class="container footer-info">
        <div class="col-lg-12 col-lg-offset-2 col-md-12 col-md-offset-1 col-sm-12 col-xs-12">
            <p class="h4 margin-top-05 center">Wir versenden mit</p>
            <ul class="image-list">
                <li>
                    <img src="/layout/callisto/img/shipping_provider/dhl-logo.png" alt="DHL" title="DHL" data-toggle="tooltip" data-placement="top">
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="footer-lower">
    <div class="container footer-content margin-top-2">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <p class="bold">Einkaufen</p>
                <hr>
                <ul class="footerList">
                    <li><a href="{{ services.category.getURLById(69) }}">Zahlungsarten</a></li>
                    <li><a href="{{ services.category.getURLById(71) }}">Versandarten & -kosten</a></li>
                    <li><a href="{{ urls.cancellationRights }}">Widerrufsrecht</a></li>
                    <li><a href="{{ services.category.getURLById(132) }}">* Garantiebedingungen</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <p class="bold">Mein Konto</p>
                <hr>
                <ul class="footerList">

                    <li class="list-inline-item control-user">
                        <user-login-handler>
                            <a data-toggle="modal">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <span class="hidden-xs-down">{{ trans("Ceres::Template.login") }}</span>
                            </a>
                            <span class="pipe"></span>
                            <a data-toggle="modal">
                                <i class="fa fa-user-plus" aria-hidden="true"></i>
                                <span class="hidden-xs-down">{{ trans("Ceres::Template.loginRegister") }}</span>
                            </a>
                        </user-login-handler>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <p class="bold">Unternehmen</p>
                <hr>
                <ul class="footerList">
                    <li><a href="{{ urls.contact }}">Kontakt</a></li>
                    <li><a href="{{ urls.privacyPolicy }}">Datenschutzerklärung</a></li>
                    <li><a href="{{ services.category.getURLById(64) }}">AGB</a></li>
                    <li><a href="{{ services.category.getURLById(66) }}">Impressum</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
