{{ component( "Ceres::Basket.Components.AddToBasket" ) }}
{{ component( "Ceres::ItemList.Components.CategoryImageCarousel") }}
{{ component( "Ceres::ItemList.Components.ItemStoreSpecial" ) }}

{% set lang = services.sessionStorage.getLang() %}
{% set shippingCat = config("Ceres.global.shippingCostsCategoryId") %}
{% set isHome = services.template.isHome() %}

{% if enableCarousel is not defined %}
    {% if config("Ceres.item.enable_image_carousel") == "true" %}
        {% set enableCarousel = "true" %}
    {% else %}
        {% set enableCarousel = "false" %}
    {% endif %}
{% endif %}

<script type="x/template" id="vue-category-item">
	{% if (services.template.getCurrentTemplate() == 'tpl.item') %}
	<!-- ITEM PAGE -->
		<article class="cmp cmp-product-thumb cmp-product-thumb--grid" style="margin-right: 15px; border: 2px solid rgb(50, 164, 202); border-top-left-radius: 20px;">
			<div class="thumb-inner">
				<add-to-basket :item="itemData" :use-large-scale="true" :item-url="itemData | itemURL"></add-to-basket>
				<div class="row">
					<div class="col-xs-12 col-md-4 push-md-8" style="display:block; margin: 68px auto auto; padding-left: 5px">
						<img :src="itemData.images.all[0].url" width="100%">
					</div>
					<div class="col-xs-12 col-md-8 pull-md-4">
						<div class="thumb-content">
							<a :href="itemData | itemURL" class="thumb-title small">
								<h4> ${ itemData.texts.name2 } </h4>
								<div class="thumb-meta">
									<div class="">
										<div v-if="itemData.prices.rrp && itemData.prices.rrp.price.value > 0" class="">
											<del class="crossprice">
												${ itemData.prices.rrp.price.formatted }
											</del>
										</div>

										<div v-if="itemData.prices.rrp && itemData.prices.rrp.price.value > 0" class="price text-success">
											${ itemData.prices.default.unitPrice.formatted }
										</div>
										<div v-else class="price CategoryItem">
											${ itemData.prices.default.unitPrice.formatted }
										</div>
									</div>
									<div class="category-unit-price" v-if="!(itemData.unit.unitOfMeasurement === 'C62' && itemData.unit.content === 1)">
										<span>${ itemData.unit.content }</span>
										<span>${ itemData.unit.names.name }</span>
										<span v-if="itemData.variation.mayShowUnitPrice">| ${ itemData.prices.default.basePrice }</span>
									</div>
								</div>
								<add-to-basket :item="itemData" :item-url="itemData | itemURL"></add-to-basket>
								<span class="vat small text-muted">
											{{ trans("Ceres::Template.itemInclVAT") }} {{ trans("Ceres::Template.itemExclusive") }}
									<a {% if shippingCat is not empty %} data-toggle="modal" href="#shippingscosts"{% endif %} title="{{ trans("Ceres::Template.itemShippingCosts") }}">{{ trans("Ceres::Template.itemShippingCosts") }}</a>
								</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</article>
	<!-- END ITEM PAGE -->
	{% else %}
	
    <article class="cmp cmp-product-thumb cmp-product-thumb--grid">
        <div class="thumb-inner">
            <add-to-basket :item="itemData" :use-large-scale="true" :item-url="itemData | itemURL"></add-to-basket>
			<div class="row">
                {% if isHome%}
					<div class="col-xs-12">
						<div class="thumb-image">
							<div class="square-container">
								<div class="square-inner main-image">
								<category-image-carousel template="#vue-category-image-carousel"
											 :image-urls-data="itemData.images | itemImages(imageUrlAccessor)"
											 :alt-text="itemData | itemName"
											 :item-url="itemData | itemURL"
											 :show-dots="{{ ceresConfig.item.categoryShowDots | json_encode }}"
											 :show-nav="{{ ceresConfig.item.categoryShowNav | json_encode }}"
											 :enable-carousel="{{ enableCarousel }}"
											 ref="categoryImageCarousel">
								</category-image-carousel>
								</div>
							</div>           
							<!-- STORE SPECIALS -->
							<item-store-special v-if="storeSpecial" :store-special="storeSpecial"
									:recommended-retail-price="itemData.prices.rrp"
									:variation-retail-price="itemData.prices.default"
									:decimal-count="decimalCount"></item-store-special>
							<!-- ./STORE SPECIALS -->
						</div>		       
						{% else %}
                       <div class="col-xs-12 col-md-3">
							<div class="thumb-image">
								<div class="square-container">
									<div class="square-inner main-image">
									<category-image-carousel template="#vue-category-image-carousel"
												 :image-urls-data="itemData.images | itemImages(imageUrlAccessor)"
												 :alt-text="itemData | itemName"
												 :item-url="itemData | itemURL"
												 :show-dots="{{ ceresConfig.item.categoryShowDots | json_encode }}"
												 :show-nav="{{ ceresConfig.item.categoryShowNav | json_encode }}"
												 :enable-carousel="{{ enableCarousel }}"
												 ref="categoryImageCarousel">
									</category-image-carousel>
									</div>
								</div>           
								<!-- STORE SPECIALS -->
								<item-store-special v-if="storeSpecial" :store-special="storeSpecial"
										:recommended-retail-price="itemData.prices.rrp"
										:variation-retail-price="itemData.prices.default"
										:decimal-count="decimalCount"></item-store-special>
								<!-- ./STORE SPECIALS -->
							</div>
						{% endif %}
					</div>
                {% if isHome%}
					<div class="col-xs-12">
				{% else %}
                    <div class="col-xs-12 col-md-9">
				{% endif %}


            <!-- ITEM DETAILS -->
            <div class="thumb-content">
                <a :href="itemData | itemURL" class="thumb-title small">
                    <h3> ${ itemData.texts.name2 } </h3>
		    <table class="tabletopartikel" frame="void" style="padding-left: 13px; border-spacing:20px; padding-right: 16px; margin: 10px; margin-left:0px; text-align: left; line-height:16px" border="0">
                          <tbody>
				<tr v-for="properties in itemData.variationProperties " v-if="properties.property.groups[0].names.name == 'Prozessor'">
					<td> ${ properties.property.groups[0].names.name }</td>
					<td> ${ properties.property.names.name }</td>
				</tr>
			    	<tr v-for="properties in itemData.variationProperties " v-if="properties.property.groups[0].names.name == 'Arbeitsspeicher'">
					<td> ${ properties.property.groups[0].names.name }</td>
					<td> ${ properties.property.names.name }</td>
				</tr>
			    	<tr v-for="properties in itemData.variationProperties " v-if="properties.property.groups[0].names.name == 'Festplattengröße'">
					<td> ${ properties.property.groups[0].names.name }</td>
					<td> ${ properties.property.names.name }</td>
				</tr>
				<tr v-for="properties in itemData.variationProperties " v-if="properties.property.groups[0].names.name == 'Festplattentyp'">
					<td> ${ properties.property.groups[0].names.name }</td>
					<td> ${ properties.property.names.name }</td>
				</tr>
				<tr v-for="properties in itemData.variationProperties " v-if="properties.property.groups[0].names.name == 'Displaygröße'">
					<td> ${ properties.property.groups[0].names.name }</td>
					<td> ${ properties.property.names.name }</td>
				</tr>
				<tr v-for="properties in itemData.variationProperties " v-if="properties.property.groups[0].names.name == 'Displayauflösung'">
					<td> ${ properties.property.groups[0].names.name }</td>
					<td> ${ properties.property.names.name }</td>
				</tr>
				<tr v-for="properties in itemData.variationProperties " v-if="properties.property.groups[0].names.name == 'Betriebssystem'">
					<td> ${ properties.property.groups[0].names.name }</td>
					<td> ${ properties.property.names.name }</td>
				</tr>
                            </tbody>
                        
                    </table>
                </a>
                <div class="thumb-meta">
                    <div class="">
                        <div v-if="itemData.prices.rrp && itemData.prices.rrp.price.value > 0" class="">
                            <del class="crossprice">
                                ${ itemData.prices.rrp.price.formatted }
                            </del>
                        </div>

                        <div v-if="itemData.prices.rrp && itemData.prices.rrp.price.value > 0" class="price text-success">
                            ${ itemData.prices.default.unitPrice.formatted }
                        </div>
			 <div v-else class="price CategoryItem">
                            ${ itemData.prices.default.unitPrice.formatted }
                        </div>
			
                    </div>

                    <div class="category-unit-price" v-if="!(itemData.unit.unitOfMeasurement === 'C62' && itemData.unit.content === 1)">
                        <span>${ itemData.unit.content }</span>
                        <span>${ itemData.unit.names.name }</span>
                        <span v-if="itemData.variation.mayShowUnitPrice">| ${ itemData.prices.default.basePrice }</span>
                    </div>
                </div>
                <add-to-basket :item="itemData" :item-url="itemData | itemURL"></add-to-basket>
                <span class="vat small text-muted">
                            {{ trans("Ceres::Template.itemInclVAT") }} {{ trans("Ceres::Template.itemExclusive") }}
                    <a {% if shippingCat is not empty %} data-toggle="modal" href="#shippingscosts"{% endif %} title="{{ trans("Ceres::Template.itemShippingCosts") }}">{{ trans("Ceres::Template.itemShippingCosts") }}</a>
                </span>
            </div>
            <!-- ./ITEM DETAILS  -->
            </div>
        </div>
    </article>
	{% endif %}
</script>
